roma
largesteps
dill
dreamsim
lpips 
natsort
git+https://github.com/facebookresearch/pytorch3d.git
ninja
pybind11

diffusers
einops
opencv-python
numpy
torch
transformers
torchvision
omegaconf
tqdm
trimesh
pymeshlab
pygltflib
xatlas
accelerate
gradio
fastapi
uvicorn
rembg
onnxruntime

gltflib
jaxtyping